* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 1rem;
    margin: 1rem;
}
.container-main {
    max-width: 900px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    border: 2px solid gray;
}
header {
    text-align: center;
    line-height: 1.4;
    margin: 2rem;
}
header h1 {
    color: rgb(32, 34, 32);
    text-shadow: 2px 2px 5px rgb(207, 207, 207);
}
header address {
    line-height: 1.5;
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 1.4;
}
section {
    margin-bottom: 1rem;
}
section h3 {
    color: forestgreen;
    font-size: 1.3rem;
}
section h4 {
    color: rgb(15, 127, 231);
}
section ul {
    margin-left: 2rem;
}