* {
    box-sizing: border-box;
}

:root {
    --primary-color: green;
    --secondary-color: blue;
    --container-shadow: 2px 2px 5px gray;
    --container-hover-shadow: 4px 4px 5px gray;
    --transition-time: 0.3s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h3 {
    color: var(--primary-color);
}

h4 {
    color: var(--secondary-color);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    box-shadow: var(--container-shadow);
    transition: transform var(--transition-time) ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: var(--container-hover-shadow);
}

header, main {
    margin-bottom: 1.5rem;
}

ul.list, ul {
    padding-left: 1.2rem;
}

address p, .skills-section, .education-section, .experience-section {
    margin-bottom: 1rem;
}
