* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0.5rem;
}

h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: cursive;
}

h3 {
    font-size: 0.9rem;
}

.container {
    box-shadow: 2px 2px 5px gray;
    max-width: 900px;
    transition: transform 0.3s ease;
    border: 1px solid gray;
}

.container:hover {
    transform: translateY(-5px);
}

header {
    text-align: center;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.container-intro {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

.container-intro p {
    font-size: 0.8rem;
    color: gray;
    padding: 0.5rem;
}

.container-intro h2 {
    font-family: cursive;
}

main .container-grid {
    width: 100%;
}

.projects {
    border: 1px solid gray;
    text-align: center;
}

.projects li {
    border-top: 1px solid gray;
    background-color: aliceblue;
    padding: 0.5rem;
}

.work-experience {
    border: 1px solid gray;
}

.work-experience h2 {
    text-align: center;
}

.work-experience article {
    padding: 1rem;
    border-top: 1px solid gray;
    line-height: 1.5;
    background-color: aliceblue;
}

.work-experience a {
    text-decoration: none;
    color: rgb(12, 163, 223);
}

.education {
    border: 1px solid gray;
}

.education h2 {
    text-align: center;
}

.education h3 {
    padding-left: 1rem;
}

.education > p, .education > ul {
    padding: 0.5rem 0 0.5rem 1rem;
}

.container-review h2 {
    text-align: center;
}

.review {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.review > div > p {
    color: gray;
    padding: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    font-family: cursive;

}
@media screen and (min-width: 320px) {
    .fa-sun {
        font-size: 30px;
        color: orange;
    }
    .fa-moon {
        color: white;
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin: auto;
    }

    .container-grid, .container-reviews {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .projects li, .work-experience article {
        background-color: white;
    }

    header {
        display: flex;
        justify-content: space-around;
        justify-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.17rem;
    }

    .fa-sun {
        font-size: 50px;
        color: orange;
    }

    .fa-moon {
        color: white;
        font-size: 50px;
    }

}
.light-mode {
    position: absolute;
}

#theme-toggle {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

.dark-mode,
.dark-mode .projects li,
.dark-mode .work-experience article
{
    background-color: rgb(32, 32, 32);
    color: white;
}

.dark-mode a {
    text-decoration: underline;
    color: blue;
}