* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    padding: 50px;  
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(10, 124, 10);
    text-shadow: 1px 1px rgb(255, 240, 240);
}

hr {
    padding: 10px;
}

main .timeline {
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
    line-height: 3;

}

main .timeline .timeline-item {
    display: flex;
    position: relative;
    padding-left: 30px;
}

main .timeline .timeline-item .date {
    width: 170px;
    text-align: right;
    padding-right: 20px;
}

main .timeline .timeline-item .content {
    width: 100%;
    border-left: 2px solid #007bff;  
    position: relative;  
    padding-left: 10px;
}

.timeline-item .content::before {  
    content: '';  
    position: absolute;  
    left: -8px;  
    top: 10px;  
    width: 14px;  
    height: 14px;  
    background-color: #63c025;  
    border-radius: 50%;  
    z-index: 2;
}

.btn {
    width: 100%;
    text-align: center;
}

.btn .button {
    display: inline-block;
    background-color: #007bff;
    padding: 15px;
}

.btn a {
    text-decoration: none;
    color: white;
}


/* Máy tính bảng */
@media screen and (min-width: 481px) and (max-width: 768px) {
   main .timeline {
    line-height: 1.1;
   }

}

/* Điện thoại di động */
@media screen and (max-width: 480px) {
    main .timeline {
        line-height: 1;
       }
    main .timeline .timeline-item .content {
        overflow: scroll;
}
}
