* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #f7f5f5;
}
header {
    text-align: center;
    padding: 1rem;
}
header h1 {
    color: #ff0000;
    text-shadow: 2px 2px 5px #acabab;
    margin-bottom: 0.5rem;
}
header p {
    color: gray;
}
main {
    width: 100%;
}
.event {
    margin-bottom: 1rem;
}
.event time {
    font-weight: bold;
}
.event .description {
    padding-top: 0.5rem;
}
.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #63c025;
    border-radius: 5px 0 0 5px;
}
.item1 {width: 70%;}
.item2 {width: 20%;}
.item3 {width: 40%;}
.item4 {width: 80%;}
.item5 {width: 40%;}
footer{
    width: 100%;
    text-align: center;
    margin-top: 5rem;
}
footer a {
    background-color: blue;
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}
@media screen and (min-width: 320px) {
    .container-main {
        background-color: white;
        padding: 1rem;
    }
    body {
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    body {
        padding: 2rem 1rem;
    }
    .container-main {
        max-width: 800px;
        border: 2px solid gray;
        border-radius: 1rem;
        padding-bottom: 7rem;
        margin: auto;
        background-color: white;
        box-shadow: 2px 2px 5px gray;
    }
    .progress-bar {
        display: none;
    }
    .event {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .event .description {
        padding: 0;
    }
    .space-last, .space-first {
        width: 4rem;
        height: 100%;
    }
    .space-first {
        border-right: 2px solid black;
        height: 5rem;
    }
    .timeline {
        margin-top: 3rem;
        line-height: 3;
    }
    .circle {
        position: relative;
    }
    .circle::before {
        position: absolute;
        content: '';
        top: 0px;
        bottom: 0px;
        left: -8.5px;
        width: 1rem;
        height: 1rem;
        background-color: #63c025;  
        border-radius: 50%;  
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }
    .progress1{top:-20px}
    .progress2{top:-30px}
    .progress3{top:-10px}
    .progress4{top:-15px}
    .progress5{top:-20px}
}
@media screen and (min-width: 1024px) {
    .space-last, .space-first {
        width: 5rem;
    }
}
@media screen and (min-width: 1440px) {
    .space-last, .space-first {
        width: 6.6rem;
    }
}
@media screen and (min-width: 2560px) {
    .space-last, .space-first {
        width: 8rem;
    }
}
