* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 1rem;
    margin: 1rem;
    background-color: #f3f4f6;
}
.container-main {
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    padding: 1rem;
}
header p {
    color: gray;
    padding: 1rem;
}
main .timeline {
    width: 100%;
    position: relative;
}
main .timeline .event {
    display: grid;
    grid-template-columns: calc(30% - 100px) 5% calc(60% - 100px);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 4;
}
.space {
    position: relative;
}
.space::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -8.2px;
    width: 1rem;
    height: 1rem;
    background-color: #63c025;  
    border-radius: 50%;  
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.event .space {
    border-left: 2px solid black;
    height: 100%;
    padding-right: 1rem;
}
footer {
    width: 100%;
    text-align: center;
}
footer a {
    width: 15rem;
    display: inline-block;
    padding: 1rem;
    background-color: blue;
    color: white;
    margin: auto;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 852px) {
    main .timeline .event {
        grid-template-columns: calc(35% - 100px) 5% calc(70% - 100px);
        gap: 1rem;
        line-height: 4;
    }
}
@media screen and (max-width: 740px) {
    main .timeline .event {
        display: grid;
        grid-template-columns: calc(40% - 100px) 5% calc(65% - 100px);
        line-height: 3;
    }
}
@media screen and (max-width: 530px) {
    main .timeline .event {
        display: grid;
        grid-template-columns: calc(50% - 100px) 5% calc(50% - 100px);
        line-height: 2;
    }
}
@media screen and (max-width: 400px) {
    main .timeline .event {
        display: grid;
        grid-template-columns: calc(50% - 50px) 5% calc(50% - 50px);
    }
}