* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 50px;
}
body p,li {
    line-height: 1.5;
}
body .container-main {
    max-width: 1000px;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
}
.container-main h1,.title {
    text-shadow: 2px 2px rgb(177, 175, 175);
    font-size: 2em;
}
.container-main .boder-top {
    border-top: 2px solid rgb(177, 175, 175);
}
nav {
    width: 100%;
    height: auto;
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    padding: 10px;
}
main h3 {
    color: green;
}
main .institution {
    color: blue;
    font-weight: 700;
}